body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
}

.content {
  flex: 1 1 auto;
  height: 100vh;
  width: 100vw;
  background-image: url(https://raw.githubusercontent.com/marykashkan/eldritch-codejam/main/assets/home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ancients-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 40%;
  padding: 20px;
  justify-content: center;
}

.ancient-card {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
  height: 325px;
  width: 250px;
}

.ancient-card.active {
  border: 5px solid red;
}

.ancient-card:first-child {
  background-image: url(https://raw.githubusercontent.com/marykashkan/eldritch-codejam/main/assets/Ancients/Azathoth.png);
}

.ancient-card:nth-child(2) {
  background-image: url(https://raw.githubusercontent.com/marykashkan/eldritch-codejam/main/assets/Ancients/Cthulthu.png);
}

.ancient-card:nth-child(3) {
  background-image: url(https://raw.githubusercontent.com/marykashkan/eldritch-codejam/main/assets/Ancients/IogSothoth.png);
}

.ancient-card:last-child {
  background-image: url(https://raw.githubusercontent.com/marykashkan/eldritch-codejam/main/assets/Ancients/ShubNiggurath.png);
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  justify-content: center;
}

.difficulty-container.active {
  visibility: hidden;
}

.difficulty {
  border: 3px solid #e88800;
  box-sizing: border-box;
  color: #e88800;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.deck-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-width: 30%;
}

.current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
}

.stage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mythic-card {
  margin-top: 100px;
}

.stage-text {
  font-size: 24px;
  margin-bottom: 15px;
}

span {
  color: red;
}

.dots-container {
  align-items: center;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.dot {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.mythic-card {
  display: flex;
  flex-direction: row;
}

.deck {
  background-size: cover;
  height: 340px;
  width: 231px;
  background-image: url(https://raw.githubusercontent.com/marykashkan/eldritch-codejam/main/assets/mythicCardBackground.png);
}

.deck-container .deck {
  cursor: pointer;
}

.last-card {
  background-size: cover;
  height: 340px;
  width: 231px;
}

.difficulty.active {
  background-color: red;
}

.shuffle-button {
  background-color: red;
  border: 3px solid #e88800;
  color: #e88800;
  cursor: pointer;
  display: none;
  padding: 10px;
  font-size: 24px;
  margin-top: 400px;
}

.shuffle-button.active {
  display: block;
}

.dot-green {
  background-color: green;
}

.dot-brown {
  background-color: brown;
}

.dot-blue {
  background-color: blue;
}
